<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../includes/head', { title: 'Update Staff' }) %>
  <link rel="stylesheet" href="/styles/form.css">
  <link rel="stylesheet" href="/styles/staff.css" />
</head>

<body>
  <%- include('../includes/header') %>
  <main>
    <h1>Update Staff</h1>
    <form action="/staff/<%= staffProfile.idstaff %>/edit" method="POST">
      <label for="name">Name</label>
      <input type="text" id="name" value="<%= staffProfile.name %>" name="name" required />
    </div>
    <div class="form-control">
      <label for="email">Email</label>
      <input type="email" id="email" value="<%= staffProfile.email %>" name="email" required />
    </div>
    <div class="form-control">
      <label for="role">Role</label>
      <input type="text" id="role" value="<%= staffProfile.role %>" name="role" required />
    </div>
    <div class="form-control">
      <label for="bio">Bio</label>
      <textarea id="bio" name="bio" rows="5"><%= staffProfile.bio %></textarea>
    </div>
      <div class="spc-btn-control">
          <button class="btn">Update Staff</button>
        </form>
        <form action="/staff/<%= staffProfile.idstaff %>/delete" method="POST">
          <button class="btn btn-alt-delete">Delete Staff</button>
        </form>
      </div>
  </main>
</body>

</html>